# Python 编译缓存
__pycache__/
*.py[cod]
*.so
*.egg-info/

# 数据集缓存
*.csv
*.tsv
*.xls
*.xlsx

# 模型和训练结果
model/
*.pth
*.pt
*.pkl

# 日志与图像
*.log
*.png
*.jpg
*.jpeg
*.pdf

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 虚拟环境
.venv/
env/
venv/

# IDE / 编辑器
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 系统文件
.DS_Store
Thumbs.db
